input.ng-invalid.ng-dirty{
    border-bottom-color: #e91e63 !important;
    box-shadow: 0 1px 0 0 #e91e63 !important; 
}

button.btn-submit{
    width:100%;
}



.boxsmall
{
min-height: 5rem;
width:100%;
margin-top:2rem;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.number
{
    color:#f00;
    font-size:large;
    padding-left:3rem;
}

/*Icon made by Freepik from www.flaticon.com | Edited by me */
.belt-img
{
    width:10%;
}

.header-font{
    font-family: 'Cormorant Garamond', cursive;
}

.mont-font{
    font-family: 'Montserrat', cursive;
}

.tpad2{
    padding-top:1rem;
}
.p2{padding:1rem;}
