


<div class="row">
  
  <div class="col s12 offset-m3 m6">
    <div class="card z-depth-5 blue-grey  white-text">
    <div class="col s12 center-align" style="padding-top:1rem;" >
        
        <img src="/assets/img/tae-kwon-do.png" alt="" class="circle responsive-img valign profile-image-login">
        <h3 class="login-form-text">ITF Taekwondo Quiz</h3>
        
    </div>
      <div class="card-content">
        <form #registerForm="ngForm" (ngSubmit)="OnSubmit(Name.value, Email.value, Belt.value)">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">account_circle</i>
              <input class="white-text" autofocus type="text" id="txtName" name="Name" #Name ngModel required>
              <label for="txtName" class="white-text">Display name</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">mail_outline</i>
              <input class="white-text" type="text" id="txtEmail" name="Email" #Email ngModel required [pattern]="emailPattern">
              <label for="txtEmail" class="white-text">Email</label>
            </div>
          </div>

      
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">remove</i>
              <select id="ddlBelt" class="white-text" name="belt" #Belt ngModel required>
                <option *ngFor="let b of belts" value="{{b}}">{{b}}</option>

              </select>
              <label for="ddlBelt" class="white-text">Belt</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <button class="btn-large btn-submit white-text" (ng-click)="showLoading=true" type="submit" [disabled]="!registerForm.valid">Start</button>
            </div>
            <div class="progress" *ngIf="showLoading">
              <div class="indeterminate"></div>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>